<form class="ui stacked segment form" action="/collection/{{id}}/addgame" method="POST">
  
  <div class="two fields">
    <div class="field">
      <label>Title</label>
      <input type="text" name="title" autofocus required title = "Please include a valid Title"
	    placeholder="Title">
    </div>

    <div class="field">
      <label>Number of Trophies</label>
      <input type="text" name="artist" required title = "Please include a valid Artist"
	    placeholder="Number of Trophies"  >
    </div>
  </div>

  <button class="ui blue submit button">Add Game</button>
</form>