{{> menu}}

<section class="ui center aligned middle aligned segment">
  <h2>PlayStation Game Tracker App Guide</h2>

  <p>
    Thank you for using the PlayStation Game Tracker App! 
    On the Start page which you are on you can see your app usage
    statistics. The Dashboard page allows you add/delete your collections, 
    inside which you can add games by entering their title, 
    platform and amount of trophies. If you make a mistake or want to 
    remove a game you can also remove and edit games inside 
    collections. The About page describes our story of how we made tha app
    as well as the global statistics including data from all our users. If you
    encounter any issues or have a question or suggestion we would be
    delighted to know! Please dont hesitate to contacts us! For more details visit
    the about page.
  </p>
</section>

<section class="ui center aligned middle aligned segment">
  <h2>Your Statistics</h2>

  {{#with userStats}}
  <div class="ui center aligned grid">

    <div class="ui sixteen wide column">

      <div class="ui centered four statistics">
        <div class="ui statistic">
          <div class="value">
            <i class="database icon"></i>
          </div>
          <div class="label">
            {{displayNumCollections}} collections
          </div>
        </div>

        <div class="ui blue statistic">
          <div class="value">
            <i class="gamepad icon"></i>
          </div>
          <div class="label">
            {{displayNumGames}} games
          </div>
        </div>

        <div class="ui yellow statistic">
          <div class="value">
            <i class="trophy icon"></i>
          </div>
          <div class="label">
            {{displayNumTrophies}} trophies
          </div>
        </div>

        <div class="ui red statistic">
          <div class="value">
            <i class="percentage icon"></i>
          </div>
          <div class="label">
            Average games per <br> collection: {{displayAverage}}
          </div>
        </div>
      </div>
    </div>
  </div>
  {{/with}}
    
</section>