{{> menu}}

<section class="ui center aligned middle aligned segment">
  
  <h2>Welcome to the PlayStation Trophy Tracker App!</h2>

  <p>
    This fan-made app allows you to track your PlayStation 
    trophies and see how you stack up against your 
    friends. You can view your trophy collection, 
    compare it with others, and even see detailed 
    information about each trophy (for now only
    viewing games and their trophies is possible). Whether you're a 
    casual gamer or a trophy hunter, this app is 
    designed to enhance your gaming experience and 
    help you achieve your trophy goals. 
    Start tracking your trophies today by 
    pressing on one of the console generations below!
  </p>