{{> menu}}

<section class="ui center aligned middle aligned segment">
  
  <h2>Welcome to the PlayStation Trophy Tracker App!</h2>

  <p>
    This fan-made app allows you to track your PlayStation 
    trophies and see how you stack up against your 
    friends. You can view your trophy collection, 
    compare it with others, and even see detailed 
    information about each trophy (for now only
    viewing games and their trophies is possible). Whether you're a 
    casual gamer or a trophy hunter, this app is 
    designed to enhance your gaming experience and 
    help you achieve your trophy goals. 
    Start tracking your trophies today by 
    pressing on one of the console generations below!
  </p>

</section>

<section class="ui center aligned middle aligned segment">

  <h2>Trophy Tracker App Statistics</h2>

  <h3 class="ui header">
    App Statistics
  </h3>
  <p>
    The trophy tracker app now contains:
  </p>
  {{#with stats}}
  <div class="ui center aligned grid">

    <div class="ui sixteen wide column">

      <div class="ui centered four statistics">
        <div class="ui statistic">
          <div class="value">
            <i class="database icon"></i>
          </div>
          <div class="label">
            {{displayNumCollections}} collections
          </div>
        </div>

        <div class="ui blue statistic">
          <div class="value">
            <i class="gamepad icon"></i>
          </div>
          <div class="label">
            {{displayNumGames}} games
          </div>
        </div>

        <div class="ui yellow statistic">
          <div class="value">
            <i class="trophy icon"></i>
          </div>
          <div class="label">
            {{displayNumTrophies}} trophies
          </div>
        </div>

        <div class="ui red statistic">
          <div class="value">
            <i class="percentage icon"></i>
          </div>
          <div class="label">
            Average games per <br> collection: {{displayAverage}}
          </div>
        </div>

      </div>
    </div>
    
  </div>

  {{/with}}

</section>